

body {
  display: block;
  line-height: 1.5;
  font-size: 100%;
  color: #0D0D0D;
  background: #168BBA;
  position: relative;
}

hr {
  margin: 1em;
  width: 80%;
}

.tab-content {
  margin-top: 100px;
  text-align: center;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

div p {
  text-align: center;
  display: block;
  width: 75%;
  position: relative;
  left: 16%;
  margin-top: 25px;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  color: ##0D0D0D;
  text-decoration: none;
  }
}

a:hover, a:focus {
}

a:visited {
}
