*{
  margin: 0;
}

html {
  background: #1b2b32;
  height: 100%;
}

.home-page {
  background-image: url("../images/portfoliobackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
  display: block;
  line-height: 1.5;
  font-size: 100%;
  color: white;
  position: relative;
}

hr {
  margin: 1em;
  width: 80%;
}

.tab-content {
  margin-top: 50px;
  text-align: center;
}

h2{
  margin-bottom: 20px;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

div p {
  text-align: justify;
  margin: 0 auto;
  width: 75%;
}

.techused {
  margin-bottom: 10px;
  width: 10%;
}

.timeframe {
  margin-bottom: 10px;
  width: 15%;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  color: white;
  text-decoration: none;
  }
}

a:hover, a:focus {
  color: blue;
}

a:visited {
}
