*{
  margin: 0;
}

html {
  height: 100%;
  background-image: url("../images/portfoliobackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
  display: block;
  line-height: 1.5;
  font-size: 100%;
  color: white;
  position: relative;
}

hr {
  margin: 1em;
  width: 80%;
}

.tab-content {
  margin-top: 50px;
  text-align: center;
}

h2{
  margin-bottom: 20px;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

div p {
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-left: 10px;
  margin-top: 25px;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  color: white;
  text-decoration: none;
  }
}

a:hover, a:focus {
  color: blue;
}

a:visited {
}
