
.site-header {
  padding: .1em;
}

.main-nav {
  padding: 0;
  /*list-style: none;*/
  /*clear: both;*/
}
.main-nav ul {
  padding: 0px;
  margin: 0px;
}
.main-nav li {
  display: inline;
  padding: 20px;
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  list-style-type: none;
  height: 40px;
  /*border-bottom: 1px solid #ccc;*/
}

.about img{
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

a:link{
  text-decoration: none;
}
/*#filters {
  padding: 0;
}

#filters select {

}*/

/*.template {
  display: none;
}*/

/*.byline {
  color: #777;
}*/

/*.byline a {
  font-weight: bold;
  text-decoration: none;
}*/

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
