* {
  margin: 0;
}

.container {
  min-height: 100%;
  margin-bottom: -40px;
}

.main-header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #B27B3D;
  color: #0D0D0D;
}

.main-nav {
  position: relative;
  width: 100%;
  padding: 0;
  list-style: none;
}
.main-nav ul {
  display:block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.icon-menu:hover + .main-nav ul {
  display: block;
}

.main-nav li {
  display: block;
  width: 100%;
  padding: 20px;
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  list-style-type: none;
  height: 40px;
}

.icon-menu {
  position: relative;
  right: 0;
}


.about-container {
  width: 100%;
}

.about img{
  margin-bottom: 0;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

section div {
  width: 100%;
  margin-bottom: 20px;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

.project-img img {
  width: 100%;
}

.project-img img:hover {
  width: 75%;
}

.main-footer, .push {
      height: 40px;
}

.main-footer {
    background: #B27B3D;
    width: 100%;
  }

.main-footer ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.main-footer li {
  display: inline;
  padding: 20px;
  margin-right: .4em;
  font-size: 1em;
  padding: .5em .2em;
  list-style-type: none;
  height: 40px;
}
